In [1]:
#显著基因聚类

import pandas as pd

In [4]:
data_1037=pd.read_excel("./9.1数据处理.xlsx",sheet_name="1307-显著基因")

In [5]:
data_cluster=pd.read_excel("./data_cluster.xlsx")

In [9]:
data=data_1037.merge(data_cluster,on="id",how='left')

In [12]:
data.to_excel("显著基因聚类.xlsx",index=None)

In [13]:
data.shape

(1307, 6)

In [17]:
#熵权法

def entropy(matrix):
    n = matrix.shape[0]
    p = matrix / np.sum(matrix, axis=0)  # 计算归一化概率
    entropy = -np.sum(p * np.log2(p), axis=0) / np.log2(n)  # 计算熵值
    return entropy

In [34]:
data_entropy=pd.read_excel("./9.1数据处理.xlsx",sheet_name="熵权法")

In [35]:
data_entropy=data_entropy.drop("id",axis=1)

In [36]:
#归一化
import numpy as np
 
def normalize(matrix):
    mins = np.min(matrix, axis=0)
    maxs = np.max(matrix, axis=0)
    return (matrix - mins) / (maxs - mins)
 
normalized_data_entropy = normalize(data_entropy)

In [40]:
normalized_data_entropy.to_excel("./9.1_数据处理.xlsx",index=None)

In [21]:
import numpy as np

In [37]:
entropies=entropy(normalized_data_entropy)

/Users/sunqian/anaconda3/envs/ICR/lib/python3.10/site-packages/pandas/core/internals/blocks.py:329: RuntimeWarning: divide by zero encountered in log2
  result = func(self.values, **kwargs)

In [38]:
def weight(entropies):
    weights = (1 - entropies) / np.sum(1 - entropies)
    return weights
 
weights = weight(entropies)

In [39]:
print("指标权重：", weights)
#输出每个指标的权重值。

指标权重： A_    0.105132
B_    0.781554
C_    0.113314
dtype: float64

In [42]:
#得分排序
data_1037=pd.read_excel("./9.1数据处理.xlsx",sheet_name="1307-显著基因")
data_9=pd.read_excel("./9.1_数据处理.xlsx")
data=data_1037.merge(data_9,on="id",how='left')

In [43]:
data

,id,A_,B_,C_,Unnamed: 4,排序号,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,ENSDARG00000000563,0.647579,0.176766,0.750512,0.291277,411,NaN,NaN,NaN,NaN,NaN,NaN
1,ENSDARG00000000887,0.647258,0.176485,0.749374,0.290895,1811,NaN,NaN,NaN,NaN,NaN,NaN
2,ENSDARG00000001431,0.657186,0.173847,0.768211,0.292011,200,NaN,NaN,NaN,NaN,NaN,NaN
3,ENSDARG00000001656,0.646825,0.176543,0.749035,0.290856,4792,NaN,NaN,NaN,NaN,NaN,NaN
4,ENSDARG00000001882,0.647239,0.176503,0.749413,0.290911,1468,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1302,XLOC_031818,0.647139,0.176531,0.749441,0.290925,1276,NaN,NaN,NaN,NaN,NaN,NaN
1303,XLOC_031986,0.646944,0.176531,0.749111,0.290867,3100,NaN,NaN,NaN,NaN,NaN,NaN
1304,XLOC_032112,0.646918,0.176523,0.749243,0.290874,2594,NaN,NaN,NaN,NaN,NaN,NaN
1305,XLOC_032563,0.646968,0.176551,0.749132,0.290888,1955,NaN,NaN,NaN,NaN,NaN,NaN
1306,XLOC_033125,0.647030,0.176507,0.749163,0.290864,3471,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
data.to_excel("final.xlsx",index=None)